/* T I M E R */

.timer{
	
}
.timer__container{	
	position:	relative;
	width:		145px;
}
.timer__text{	
	position:	absolute;
	right:		0px;
	top:		7px;
	margin:		0;
	color:		#cbcbcb;
	font-size:	11px;
}
.timer__time{	
	position:	absolute;
	right:		0px;
	top:		20px;
	margin:		0;
	color:		#5ca441;
	font-size:	21px;
	font-weight:bold;
}