/* 
	BLOCK: A C T I V I T I E S
	MODIFICATION: M A I N
*/

.activities__table
{
	padding:	10px 15px 0 0 ;
	position:	relative;
	left:		-20px;
}
table.activities td
{
	padding:	0 5px 20px 0;
}
.activities__image-holder
{
	text-align:	center;
	float:		left;
	width:		40%;
}
.activities__image-holder p
{
	color:		#575757;
	font-size:	19px;
	margin:		0 0 10px 0;
}
.activities__text-holder
{
	float:		left;
	width:		60%;
	color:		#1a536d;
	font-size:	15px;
}